@model IEnumerable<SpaceManageViewModel>
@{
    ViewBag.Title = "SpaceManage";
    var discontinued = Model.Where(x => x.SpaceStatusId == 1);
    var onTheMarket = Model.Where(x => x.SpaceStatusId == 2);
}
<div class="place-manage container my-5">
    <div class="header d-flex justify-content-between align-items-center my-3 my-md-5">
        <h2 class="mb-0">管理我的場地</h2>
        <a class="add-btn btn" href="~/HostCenter/AddSpace">新增場地</a>
    </div>
    <h3 class="launch-title my-3 mb-md-0">已上架的場地</h3>
    <div class="launched row justify-content-between gx-5">
        @foreach (var item in onTheMarket)
        {
            <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
                <div class="venue-pic mb-3" style="background-image: url(@item.SpacePhotoUrl);"></div>
                <a href="~/Booking/BookingPage/@item.SpaceID" class="venue-link"><h3 class="venue-name mb-3">@item.SpaceName</h3></a>
                <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">@item.SpaceAddress</span></p>
                <p class="rating mb-4">
                    @if (item.Score == 0)
                    {
                        <span>目前沒有任何評價</span>
                    }
                    else if (item.Score % 1 == 0)
                    {
                        for (int i = 0; i < item.Score; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                    }
                    else
                    {
                        for (int i = 0; i < (item.Score - 1); i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        <i class="fas fa-star-half-alt"></i>
                    }
                    <span class="review-count ms-2">@item.NumberOfReviews</span>篇評價
                </p>
                <p>近30天的被預定次數:<a href="~/HostCenter/History" class="booking-count mx-2 fs-5">@item.NumberOfOrders</a>次</p>
                <p class="text-end pt-3 pb-4 border-bottom border-3"><a class="edit-btn btn me-3" href="~/HostCenter/EditSpace?spaceId=@item.SpaceID">編輯場地</a><button class="discontinue-btn btn">下架</button></p>
            </div>
        }      
    </div>

    <h3 class="discontinue-title my-3 mb-md-0">已下架的場地</h3>
    <div class="discontinued row justify-content-between gx-5">
        @foreach (var item in discontinued)
        {
            <div class="venue-card col-12 col-md-6 mt-3 mt-md-5 mb-4">
                <div class="venue-pic mb-3" style="background-image: url(@item.SpacePhotoUrl);"></div>
                <a href="#" class="venue-link"><h3 class="venue-name mb-3">@item.SpaceName</h3></a>
                <p class="mb-2"><i class="fas fa-map-marker-alt me-1"></i><span class="address">@item.SpaceAddress</span></p>
                <p class="rating mb-4">
                    @if (item.Score == 0)
                    {
                        <span>目前沒有任何評價</span>
                    }
                    else if (item.Score % 1 == 0)
                    {
                        for (int i = 0; i < item.Score; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                    }
                    else
                    {
                        for (int i = 0; i < (item.Score - 1); i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        <i class="fas fa-star-half-alt"></i>
                    }
                    <span class="review-count ms-2">@item.NumberOfReviews</span>篇評價
                </p>
                <p>近30天的被預定次數:<a href="~/HostCenter/History" class="booking-count mx-2 fs-5">@item.NumberOfOrders</a>次</p>
                <p class="text-end pt-3 pb-4 border-bottom border-3"><a class="edit-btn btn me-3" href="~/HostCenter/EditSpace?spaceId=@item.SpaceID">編輯場地</a><button class="delete-btn btn">永久刪除</button></p>
            </div>
        }
    </div>
</div>

@section topCss{
    <link href="~/Assets/CSS/hostCenter/editplace.css" rel="stylesheet" />
}


