<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" type="image/gif" href="~/Assets/IMG/index/ZONERardar-03.ico" />
    <link href="~/Assets/CSS/flatpickr.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/material_blue.css" rel="stylesheet" />
    <link href="~/Assets/CSS/leaflet.css" rel="stylesheet" />
    <link href="~/Assets/CSS/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/fontawesome/all.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/CSS/layout/navbar-footer.css" rel="stylesheet" />
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)


</head>
<body>





    <script src="~/Assets/JS/leaflet.js"></script>
    <script src="~/Assets/JS/flatpickr.js"></script>
    <script src="~/Assets/JS/leaflet.markercluster.js"></script>
    <script src="~/Assets/JS/swiper-bundle.min.js"></script>
    <script src="~/Assets/JS/zh-tw.js"></script>
    <script src="~/Assets/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/JS/sweetalert2.js"></script>
    <script src="~/Assets/JS/layout/navbar-footer.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
