@model LoginZONERadarViewModel

<!--登入表單-->
@using (Html.BeginForm("Login", "MemberCenter", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "mb-3" }))
{
    @Html.AntiForgeryToken()
    @*<input type="email" id="input-email-login" name="email" class="form-control form-control-lg d-block mb-3" placeholder="Email" aria-label="email" aria-describedby="basic-addon1" required>
        <input type="password" id="input-password-login" name="password" class="form-control form-control-lg d-block mb-3" placeholder="密碼" aria-label="password" aria-describedby="basic-addon2" required>*@
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg d-block", type = "email", placeholder = "Email", required = "true" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger d-block text-start mt-1" })
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg d-block mt-3", type = "password", placeholder = "Password", required = "true" } })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger d-block text-start mt-1" })
    <button type="submit" id="login-submit" class="w-100 text-decoration-none text-white mt-3">登入</button>
}