@*@model Dictionary<string, string>*@
@*@model CartsViewModel*@
@model PaymentViewModel
@*@model ECPay.Payment.Integration.AllInOne*@
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var item = Model;
    var OrderId = ViewData["OrderId"];
    var spacename = ViewData["SpaceName"];
    var TotalMoney = ViewData["TotalMoney"];
    int qwe = 0;
}

<div class="container">
    <div class="row">
        <!-- col-7 電腦版 col-12手機板 -->
        <div class="col-lg-7 mt-5 col-sm-12">
            <div class="PriceTable mb-5">
                <div class="BookingRequestForm form-horizontal mt-3">
                    <div class="Table table-component">
                        <div class="table-head">
                            <div class="header-row d-flex">
                                <div class="label undefined"> 場地租金 </div>
                            </div>
                        </div>
                        <!--<div class="table-body mt-2">
                        <div class="row">
                            <div class="d-flex table-row">-->
                        @*@foreach (var ment in item.payments)*@
                        @*{*@
                        <!--@if (item.RentDetail.Sum(x => x.hours) >= item.Discounthours)
                        {
                            <div class="title-field me-auto">場地價格</div>
                            <div data-testing-id="space-rental-subtotal">
                                <span> @item.PricePerHour.ToString("C0") </span> X
                                <span> @item.RentDetail.Sum(x => x.hours)</span>
                            </div>

                            <hr>
                            <div class="title-field me-auto">
                                <div class="title-field me-auto">場地折扣</div>
                                <div data-testing-id="cleaning-fee"><span>$80.00</span></div>
                            </div>


                        }
                        else
                        {
                            <div class="title-field me-auto">場地價格</div>
                            <div data-testing-id="space-rental-subtotal">
                                <span> @item.PricePerHour.ToString("C0") </span> X
                                <span> @item.RentDetail.Sum(x => x.hours)</span>
                            </div>
                        }-->
                        @*}*@
                        <!--</div>
                                <hr class="dotted mt-1">
                                <div class="d-flex heavy table-row">
                                    <div class="title-field me-auto">總計</div>
                                    <div data-testing-id="space-rental-total">
                                        <span>@TotalMoney</span>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="table-body">
                            <div class="row">
                                <div class="d-flex table-row">
                                    <div class="title-field me-auto">Subtotal</div>
                                    <div data-testing-id="space-rental-subtotal">
                                        <span>$200.00</span>
                                    </div>
                                </div>
                                <div>
                                    <hr class="dotted mt-1 mb-1">
                                    <div class="d-flex table-row">
                                        <div class="title-field me-auto">Cleaning</div>
                                        <div data-testing-id="cleaning-fee">
                                            <span>$80.00</span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="dotted mt-1 mb-1">
                                <div class="d-flex heavy table-row">
                                    <div class="title-field me-auto">場地價格</div>
                                    <div data-testing-id="space-rental-total">
                                        <span>@TotalMoney</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <b-c>
                <!-- Cancellation Policy-->
                <div class="mt-2">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                @item.CancellationTitle
                                <!--payment.Select(x=>x.CancellationDetail)--> @* 開場地主選擇的退訂方案 *@
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div>
                                    @item.CancellationTitle
                                    @* 所有退訂政策的方案說明 *@
                                    @item.CancellationDetail
                                    @*<li>
                                            如預約確認後24小時內取消,將獲全額退款。
                                            48小時內開始的事件除外。
                                        </li>
                                        <li>如果提前30天取消的話，可以全額退款。</li>
                                        <li>
                                            如於30至7天前取消,可獲50%退款(費用除外)。
                                        </li>
                                        <li>7天內開始的活動取消不能退款。</li>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form-input -->
                <div class="form-input mt-5 p-2">
                    <div class="row mb-3">
                        <label for="validationServerUsername" class="col-2 col-sm-4 col-form-label">聯絡人 </label>
                        <div class="col-6 col-sm-6">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            請填寫聯絡人
                        </div>

                    </div>
                    <div class="row mt-3">
                        <label for="validationServerPhone" class="col-2 col-sm-4 col-form-label">聯絡電話 </label>
                        <div class="col-6 col-sm-6">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                        <div id="validationServerPhoneFeedback" class="invalid-feedback">
                            請填連絡電話
                        </div>

                    </div>
                </div>
                <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" onclick="checkboxOnclick(this)" value="false" id="flexCheckAccpet">
                    <label class="form-check-label" for="flexCheckAccpet">
                        我同意上述所說。
                    </label>

                </div>
                @*<form id="form" name="form" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" method="POST">
                    @foreach (var key in Model.Keys.ToList())
                    {
                        <input type="hidden" name="@key" value="@Model[key]" />
                    }*@
                @*<button class="Button btn btn-primary submit-bkg-req-btn mt-4 mb-4 disabled" type="submit"
                            data-testing-id="booking-request-submit-button" id="submit-pay">
                        送出
                    </button>*@
                @*</form>*@
                @Html.ActionLink("送出", "Ecpayment", new CartsViewModel { OrderId = (int)OrderId, TotalMoney = (decimal)TotalMoney, SpaceName = (string)spacename }, new { @class = "Button btn btn-primary submit-bkg-req-btn mt-4 mb-4 disabled submit-pay", @id = "submit-pay" })


        </div>
        <!-- col-5 電腦版 col-12手機板 -->
        <div class="col-lg-5 mt-5 col-sm-12">
            <div class="Host-card sticky-top">
                <h2 class="py-3"> 訂單明細 </h2>
                <div class="user-informtion">
                    <div class="ps-3">
                        <label class="font-monospace">Host</label>
                    </div>

                    <div class="ps-1 d-flex host-pic">
                        <img src="@item.UserPhoto">
                        @* img場地主相片 *@
                        <p class="text-center ps-4"> @item.UserName </p>
                    </div>

                </div>
                <div>
                    @* 租賃時間 *@
                    <div class="summary-block">
                        <label><span class="capitalize fw-bold"> 租賃時間 </span></label>
                        <div class="p-2">
                            <div>
                                <div class="p-2">
                                    @foreach (var o in item.RentDetail)
                                    {
                                        <div>
                                            <span class="fw-light">
                                                <i class="far fa-calendar-alt me-2"></i>@DateTime.Parse(o.RentTime).ToString("yyyy-MM-dd")
                                                @*@DateTime.Parse(o.RentTime).ToString("yyyy-MM-dd tt h-mm")*@
                                            </span>
                                        </div>
                                        <div>
                                            <span class="fw-light">
                                                <i class="far fa-clock me-2"></i>@DateTime.Parse(o.RentTime).ToString("HH-mm") ~ @DateTime.Parse(o.RentBackTime).ToString("HH-mm")
                                                @*@DateTime.Parse(o.RentBackTime).ToString("yyyy-MM-dd tt h-mm")*@
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @* 參加人數 *@
                    <div class="summary-block">
                        <label><span class="capitalize fw-bold"> 人數 </span></label>
                        <div class="p-2">
                            <div>
                                <div class="p-2">
                                    <div>
                                        <span class="fw-light"> @item.RentDetail.Sum(x => x.People) 人</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section topCSS
{
    <link href="~/Assets/CSS/Pay/Paypage.css" rel="stylesheet" />
}

@section endJS
{
    <script src="~/Assets/JS/Payment/Paypage.js"></script>
}
