@model PaymentViewModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var item = Model;
    var OrderId = ViewData["OrderId"];
    var spacename = ViewData["SpaceName"];
    var TotalMoney = ViewData["TotalMoney"];
}
<div class="container">
    <div class="row">
        <!-- col-7 電腦版 col-12手機板 -->
        <div class="col-lg-7 mt-5 col-sm-12">
            <div class="PriceTable mb-5">
                <div class="BookingRequestForm form-horizontal mt-3">
                    <div class="Table table-component">
                        <div class="table-head">
                            <div class="header-row d-flex">
                                <div class="label undefined"> 場地租金 </div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="row">
                                <div class="d-flex table-row">
                                    <div class="title-field me-auto"> 場地計算 </div>
                                    <div data-testing-id="space-rental-subtotal">
                                        <span> @Math.Round(item.PricePerHour * item.RentDetail.Sum(x => x.hours)).ToString("C0")</span>
                                    </div>
                                </div>
                                <div>
                                    @foreach (var rd in item.RentDetail)
                                    {
                                        if (rd.hours >= item.Discounthours)
                                        {
                                            <hr class="dotted mt-1 mb-1">
                                            <div class="d-flex table-row">
                                                <div class="title-field me-auto"> 場地折扣 </div>
                                                <div data-testing-id="cleaning-fee">
                                                    <span>-@Math.Round(item.PricePerHour * rd.hours * item.Discount).ToString("C0")</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <hr class="dotted mt-1 mb-1">
                                <div class="d-flex heavy table-row">
                                    <div class="title-field me-auto">場地價格</div>
                                    <div data-testing-id="space-rental-total">
                                        <span> @Math.Round((decimal)TotalMoney * 1).ToString("C0")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <b-c>
                <!-- Cancellation Policy-->
                <div class="mb-5">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed p-2" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                @item.CancellationTitle
                                <!--payment.Select(x=>x.CancellationDetail)--> @* 開場地主選擇的退訂方案 *@
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div>
                                    @item.CancellationTitle
                                    @* 所有退訂政策的方案說明 *@
                                    @item.CancellationDetail

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- form-input -->
                @*@Html.TextBox("聯絡人", ViewBag.StartDate as string, new { placeholder = "Start Date" })
                    @Html.TextBox("聯絡人電話", ViewBag.EndDate as string, new { placeholder = "End Date" })*@

                <form action="~/Payment/Ecpayment" method="post" data-toggle="validator" id="Myform" onsubmit="return checkboxOnclick(this)">
                    <div class="row mb-3 mt-3">
                        <label for="validationServerUsername" class="col-2 form-label">聯絡人 </label>
                        <div class="col-6 col-sm-6">
                            <input type="text" class="form-control is-invalid" id="inputName" placeholder="請輸入聯絡人姓名" 
                                   name="ContactName" value="@Model.ContactName" required>
                            <div class="help-block with-errors"> </div>
                        </div>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            請填寫聯絡人
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="validationServerPhone" class="col-2 form-label">聯絡電話 </label>
                        <div class="col-6 col-sm-6">
                            <input type="tel" class="form-control is-invalid" id="inputPhone" placeholder="請輸入聯絡人電話號碼" pattern="^[0-9]+$"
                                   name="ContactPhone" value="@Model.ContactPhone" required>
                        </div>
                        <div id="validationServerPhoneFeedback" class="invalid-feedback">
                            請填連絡電話
                        </div>
                    </div>
                    <div class="form-check mt-4">
                        <input type="checkbox" class="form-check-input" id="flexCheckAccpet" @*onclick="checkboxOnclick(this)"*@ required>
                        <label class="form-check-label" for="validationFormCheck1">我同意上述所說。</label>
                    </div>

                    <input type="hidden" value="@OrderId" name="OrderId" />
                    <input type="hidden" value="@spacename" name="SpaceName" />
                    <input type="hidden" value="@TotalMoney" name="totalmoney" />
                    <button class="Button btn btn-primary submit-bkg-req-btn mt-4 mb-4 submit-pay" id="submit-pay" type="submit"> 送出 </button>
                </form>
        </div>
        <!-- col-5 電腦版 col-12手機板 -->
        <div class="col-lg-5 mt-5 col-sm-12">
            <div class="Host-card sticky-top">
                <h2 class="py-3"> 訂單明細 </h2>
                <div class="user-informtion">
                    <div class="ps-3">
                        <label class="font-monospace">Host</label>
                    </div>
                    <div class="ps-1 d-flex host-pic">
                        <img src="@item.UserPhoto">
                        @* img場地主相片 *@
                        <p class="text-center ps-4"> @item.UserName </p>
                    </div>
                </div>
                <div>
                    @* 租賃時間 *@
                    <div class="summary-block">
                        <label><span class="capitalize fw-bold"> 租賃時間 </span></label>
                        <div class="p-2">
                            <div>
                                @foreach (var o in item.RentDetail)
                                {
                                    <div class="p-2 mt-1">

                                        <div>
                                            <span class="fw-light">
                                                <i class="far fa-calendar-check me-2"></i>@DateTime.Parse(o.RentTime).ToString("yyyy-MM-dd")
                                                @*@DateTime.Parse(o.RentTime).ToString("yyyy-MM-dd tt h-mm")*@
                                            </span>
                                        </div>
                                        <div>
                                            <span class="fw-light">
                                                <i class="far fa-clock me-2"></i>@DateTime.Parse(o.RentTime).ToString("HH:mm") ~ @DateTime.Parse(o.RentBackTime).ToString("HH:mm")
                                                @*@DateTime.Parse(o.RentBackTime).ToString("yyyy-MM-dd tt h-mm")*@
                                            </span>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @* 參加人數 *@
                    <div class="summary-block">
                        <label><span class="capitalize fw-bold"> 人數 </span></label>
                        <div class="p-2">
                            <div>
                                <div class="p-2">
                                    <div>
                                        <i class="far fa-user me-2"></i>
                                        <span class="fw-light"> @item.RentDetail.Sum(x => x.People) 人</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section topCSS
{
    <link href="~/Assets/CSS/Pay/Paypage.css" rel="stylesheet" />
}
@section endJS
{
    <script src="~/Assets/JS/Payment/Paypage.js"></script>
}