@model  BookingPageViewModel
@{
    ViewBag.Title = "BookingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var reviews = Model.Reviews;
    var briefs = Model.SpaceBreifInfo;
    var details = Model.SpaceDetailInfo;
    float total = 0;
    float averageScore = 0;
    foreach (var review in reviews)
    {
        total += review.Score;
    }
    if (total != 0)
    {
        averageScore = total / reviews.Count();
    }
    else
    {
        averageScore = 0;
    }
    int briefReviewBreak = 0;
    if (reviews.Count() >= 3)
    {
        briefReviewBreak = 3;
    }
    else
    {
        briefReviewBreak = reviews.Count();
    }


}

<!-- Body -->
<div class="booking-container container pb-5" id="top">
    <!-- 照片輪播 -->
    <div class="row mb-5">
        <div class="col-12">
            <div class="venue-img-group swiper">
                <button type="button" class="btn-save btn mx-3 px-3"><span class="d-none d-xl-inline-block">收藏</span></button>
                <div class="venue-img-wrapper swiper-wrapper">
                    @foreach (var url in briefs.SpaceImageURLList)
                    {
                        <div class="venue-img swiper-slide" style="background-image: url(@url)"></div>
                    }
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="main-content col-sm-12 col-xl-8">
            <!-- 場地簡短介紹 -->
            <div class="row">
                <section class="venue-brief col-sm-12 col-md-9">
                    <h2 class="venue-title mb-2">@briefs.SpaceName</h2>
                    <a href="#map"><p class="venue-address mb-3 mb-xl-4"><i class="fas fa-map-marker-alt me-1"></i><span class="city ms-1">@briefs.City</span><span class="district ms-1">@briefs.District</span><span class="address ms-1">@briefs.Address</span></p></a>
                    <div class="venue-highlight d-block d-xl-flex mb-4">
                        <div class="venue-rating mb-3 mb-md-0">
                            <a class="review-link ms-1" href="#review">
                                @if (averageScore != 0)
                                {
                                    if (averageScore % 1 == 0)
                                    {
                                        for (int i = 0; i < averageScore; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                    }
                                    if (averageScore % 1 != 0)
                                    {
                                        for (int i = 0; i < averageScore - 1; i++)
                                        {
                                            <i class="fas fa-star"></i>
                                        }
                                        <i class="fas fa-star-half-alt"></i>
                                    }
                                }
                                @if (averageScore == 0)
                                {
                                    <span>目前沒有任何評價</span>
                                }
                                <span class="review-count ms-2">@reviews.Count()</span>篇評價
                            </a>
                        </div>
                        <ul class="venue-info d-md-flex ms-0 ms-md-4">
                            <li class="d-flex align-items-center ms-0 mb-2 ms-md-3"><img class="mx-1" src="~/Assets/IMG/icons/person.svg" alt="capacity" style="height: 1rem"><span class="capacity">@briefs.Capacity</span>人</li>
                            <li class="d-flex align-items-center ms-0 mb-2 ms-md-3"><img class="mx-1" src="~/Assets/IMG/icons/time.svg" alt="min-hour" style="height: 1rem"><span class="min-hour">@briefs.MinHour</span>小時</li>
                            <li class="d-flex align-items-center ms-0 mb-2 ms-md-3"><img class="mx-1" src="~/Assets/IMG/icons/speed-square.svg" alt="area" style="height: 1rem"><span class="area">@briefs.MeasurementOfArea</span>坪</li>
                        </ul>
                    </div>
                    <!-- 簡短評價 -->
                    <div class="review-brief-group d-none d-md-block pe-3">
                        @if (reviews.Count() == 0)
                        {
                            <div class="review-brief d-flex mb-4">歡迎預約，並留下您的評價</div>
                        }
                        @foreach (var review in reviews.Take(briefReviewBreak))
                        {
                            <div class="review-brief d-flex mb-4">
                                <a href="#" class="user-pic"><img class="rounded-circle border-blue" src="@review.ReviewedMemberPhoto"></a>
                                <div class="content-wrapper w-100 ps-4">
                                    <span class="review-brief-content">@review.ReviewContent</span>
                                    <span class="user-name ms-1"> -@review.ReviewedMemberName</span>
                                </div>
                            </div>
                        }
                        <a href="#review" class="read-review d-inline-block p-3 fw-bolder mb-3"></a>
                    </div>
                </section>
                <div class="host col-sm-12 col-md-3 text-center pt-0 pb-4 pt-md-5">
                    <a href="#">
                        <img class="user-pic rounded-circle border-blue" src="@details.HostPhoto">
                        <p class="user-name my-2">@details.HostName</p>
                    </a>
                    <button type="button" class="btn-message btn">聯絡他</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section class="detailed-info">
                        <div class="clean border-top border-bottom">
                            <a class="d-flex justify-content-between align-items-center w-100 btn-toggle py-3" data-bs-toggle="collapse" href="#clean-protocol" role="button" aria-expanded="false" aria-controls="clean-protocol">
                                <h4 class="mb-0 d-flex align-items-center"><img class="me-2" src="~/Assets/IMG/icons/cleaning-solution.svg" alt="cleaning">清潔公約</h4>
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="collapse" id="clean-protocol">
                                <div class="card card-body border-0">
                                    @foreach (var cleaning in details.CleaningOptionDict)
                                    {
                                        <h5>@cleaning.Key</h5>
                                        <ul>
                                            @foreach (var option in @cleaning.Value)
                                            {
                                                <li>@option</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="about border-bottom">
                            <h4 class="mb-0 d-flex align-items-center py-3">關於此場地</h4>
                            <div class="collapse" id="about-venue">
                                <div class="card card-body border-0 ps-0">@Html.Raw(@details.Introduction)</div>
                            </div>
                            <a class="read-more collapsed btn p-3 fw-bolder" data-bs-toggle="collapse" href="#about-venue" role="button" aria-expanded="false" aria-controls="about-venue"></a>
                        </div>
                        <div class="shooting border-bottom">
                            <a class="d-flex justify-content-between align-items-center w-100 btn-toggle py-3" data-bs-toggle="collapse" href="#shooting" role="button" aria-expanded="false" aria-controls="shooting">
                                <h4 class="mb-0 d-flex align-items-center"><img class="me-2" src="~/Assets/IMG/icons/lighting.svg" alt="shooting">攝影及錄影設備</h4>
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="collapse" id="shooting">
                                @if (@details.ShootingEquipment == null)
                                {
                                    <div class="card card-body border-0">
                                        場地主沒有留下任何攝影及錄影設備的資訊
                                    </div>
                                }
                                @if (@details.ShootingEquipment != null)
                                {
                                    <div class="card card-body border-0">@details.ShootingEquipment</div>
                                }
                            </div>
                        </div>
                        <div class="parking border-bottom">
                            <a class="d-flex justify-content-between align-items-center w-100 btn-toggle py-3" data-bs-toggle="collapse" href="#parking" role="button" aria-expanded="false" aria-controls="parking">
                                <h4 class="mb-0 d-flex align-items-center"><img class="me-2" src="~/Assets/IMG/icons/parking.svg" alt="parking">停車資訊</h4>
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="collapse" id="parking">
                                @if (@details.ShootingEquipment == null)
                                {
                                    <div class="card card-body border-0">
                                        場地主沒有留下任何停車資訊
                                    </div>
                                }
                                @if (@details.ShootingEquipment != null)
                                {
                                    <div class="card card-body border-0">@Html.Raw(@details.ParkingInfo)</div>
                                }
                            </div>
                        </div>
                        <div class="rule border-bottom">
                            <a class="d-flex justify-content-between align-items-center w-100 btn-toggle py-3" data-bs-toggle="collapse" href="#rule" role="button" aria-expanded="false" aria-controls="rule">
                                <h4 class="mb-0 d-flex align-items-center"><img class="me-2" src="~/Assets/IMG/icons/rules.svg" alt="rules">場地規範</h4>
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="collapse" id="rule">
                                <div class="card card-body border-0">@Html.Raw(@details.HostRule)</div>
                            </div>
                        </div>
                        <div class="facility border-bottom">
                            <h4 class="mb-0 py-3">場地設施與空間</h4>
                            <div class="collapse" id="facility">
                                <div class="card card-body border-0 ps-0">
                                    @foreach (var item in details.AmenityDictionary)
                                    {
                                        <h5 class="mb-3">@item.Key</h5>
                                        <ul class="d-flex flex-wrap mb-4">
                                            @foreach (var facility in item.Value)
                                            {
                                                <li class="@facility d-flex align-items-center mb-4">
                                                    <img class="me-2" src="~/Assets/IMG/icons/@facility" alt="@facility">
                                                    <span class="d-inline-block">@facility</span>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    @*<h5 class="mb-3">便利設施</h5>
                                    <ul class="amenities d-flex flex-wrap mb-4">
                                        <li class="wifi d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/wifi.svg" alt="wifi">
                                            <span class="d-inline-block">WiFi</span>
                                        </li>
                                        <li class="table d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/table.svg" alt="table">
                                            <span class="d-inline-block">桌子</span>
                                        </li>
                                        <li class="chair d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/chair.svg" alt="chair">
                                            <span class="d-inline-block">椅子</span>
                                        </li>
                                        <li class="monitor d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/monitor.svg" alt="monitor">
                                            <span class="d-inline-block">螢幕</span>
                                        </li>
                                        <li class="screen d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/screen.svg" alt="screen">
                                            <span class="d-inline-block">投影幕</span>
                                        </li>
                                        <li class="tv d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/apple_tv.svg" alt="tv">
                                            <span class="d-inline-block">數位電視</span>
                                        </li>
                                        <li class="coffee d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/coffee.svg" alt="coffee">
                                            <span class="d-inline-block">咖啡機</span>
                                        </li>
                                        <li class="projector d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/projector.svg" alt="projector">
                                            <span class="d-inline-block">投影機</span>
                                        </li>
                                        <li class="whiteboard not-provide d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/whiteboard.svg" alt="whiteboard">
                                            <span class="d-inline-block">白板</span>
                                        </li>
                                        <li class="printer not-provided d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/printer.svg" alt="printer">
                                            <span class="d-inline-block">影印機</span>
                                        </li>
                                    </ul>
                                    <h5 class="mb-3">場地空間</h5>
                                    <ul class="feature d-flex flex-wrap mb-4">
                                        <li class="restroom d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/toilet.svg" alt="toilet">
                                            <span class="d-inline-block">廁所</span>
                                        </li>
                                        <li class="accessibility d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/handicap_access.svg" alt="accessibility">
                                            <span class="d-inline-block">無障礙空間</span>
                                        </li>
                                        <li class="kitchen d-flex align-items-center mb-4 not-provide">
                                            <img class="me-2" src="~/Assets/IMG/icons/kitchen.svg" alt="kitchen">
                                            <span class="d-inline-block">廚房</span>
                                        </li>
                                        <li class="booth d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/breakout_room.svg" alt="booth">
                                            <span class="d-inline-block">包廂</span>
                                        </li>
                                        <li class="parking-lot d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/parking.svg" alt="parking-lot">
                                            <span class="d-inline-block">停車場</span>
                                        </li>
                                        <li class="public-transit not-provide d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/public_transit.svg" alt="public-transit">
                                            <span class="d-inline-block">大眾運輸工具</span>
                                        </li>
                                        <li class="outdoor-area not-provide d-flex align-items-center mb-4" d-flex align-items-center mb-4">
                                            <img class="me-2" src="~/Assets/IMG/icons/outdoor_area.svg" alt="outdoor-area">
                                            <span class="d-inline-block">戶外區</span>
                                        </li>
                                    </ul>
                                    <h5 class="mb-3">其他</h5>
                                    <ul class="other d-flex flex-wrap mb-4">
                                        <li class="other-item d-flex align-items-center mb-4">
                                            自行填寫
                                        </li>
                                        <li class="other-item d-flex align-items-center mb-4">
                                            自行填寫
                                        </li>
                                        <li class="other-item d-flex align-items-center mb-4">
                                            自行填寫
                                        </li>
                                        <li class="other-item d-flex align-items-center mb-4">
                                            自行填寫
                                        </li>
                                        <li class="other-item d-flex align-items-center mb-4">
                                            自行填寫
                                        </li>
                                    </ul>*@
                                </div>
                            </div>
                            <a class="read-more collapsed btn p-3 fw-bolder" data-bs-toggle="collapse" href="#facility" role="button" aria-expanded="false" aria-controls="facility"></a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <div class="map-wrapper my-lg-3">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="traffic border-top border-bottom">
                        <a class="d-flex justify-content-between align-items-center w-100 btn-toggle py-3" data-bs-toggle="collapse" href="#traffic" role="button" aria-expanded="false" aria-controls="traffic">
                            <h4 class="mb-0 d-flex align-items-center"><img class="me-2" src="~/Assets/IMG/icons/road.svg" alt="traffic" style="width: 24px; height: 24px">交通資訊</h4>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse" id="traffic">
                            <div class="card card-body border-0">
                                @details.TrafficInfo
                            </div>
                        </div>
                    </div>
                    <section class="service-time border-bottom">
                        <h4 class="mb-0 py-3">服務時間</h4>
                        <ul class="py-3">
                            @for (int i = 0; i < details.OperatingDayList.Count(); i++)
                            {
                                <li>@details.OperatingDayList[i]<span class="start-service-time ps-5 ms-5 me-1">@details.StartTimeList[i]</span>~<span class="end-service-time ms-1">@details.EndTimeList[i]</span></li>
                            }
                        </ul>
                    </section>
                </div>
                <div class="col-12">
                    <section class="cancellation border-bottom">
                        <h4 class="mb-0 py-3">取消政策</h4>
                        <div class="cancellation-content py-3">
                            <h5>@details.CancellationTitle</h5>
                            <p>@details.CancellationInfo</p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="review">
                    <h4 class="mb-0 py-3">場地評價<span class="review-count ms-2">(@reviews.Count())</span></h4>
                    @foreach (var review in reviews)
                    {
                        <div class="review-item row mb-3 mt-3">
                            <a href="#" class="user-pic col-2 col-xl-1 pe-0"><img class="rounded-circle border-blue" src="@review.ReviewedMemberPhoto"></a>
                            <div class="review-txt col-10 col-xl-11 ps-3 ps-xl-4">
                                <h5 class="user-name">@review.ReviewedMemberName</h5>
                                <div class="review-rating">
                                    <div class="row mb-3">
                                        <div class="start-group col-12 col-xl-3 pe-0 mb-2 mb-xl-0">
                                            @if (review.Score != 0)
                                            {
                                                if (review.Score % 1 == 0)
                                                {
                                                    for (int i = 0; i < review.Score; i++)
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                }
                                                if (review.Score % 1 != 0)
                                                {
                                                    for (int i = 0; i < review.Score - 1; i++)
                                                    {
                                                        <i class="fas fa-star"></i>
                                                    }
                                                    <i class="fas fa-star-half-alt"></i>
                                                }
                                            }
                                        </div>
                                        <div class="recommend col-12 col-xl-9 ps-3 ps-lx-0">
                                            @if (review.IsRecommend == true)
                                            {
                                                <i class="fas fa-check me-1"></i><span class="recommend-content">我會推薦給其他人</span>
                                            }
                                            @if (review.IsRecommend != true)
                                            {
                                                <i class="fas fa-times me-1"></i><span class="recommend-content">我不會推薦給其他人</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="review-content mb-3">
                                    <p>@review.ReviewContent</p>
                                </div>
                                <p class="review-time pb-3 border-bottom">@review.ReviewDate</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="text-center mt-3">
                    <div class="read-more-review btn mb-4">查看更多評價</div>
                </div>
            </div>
        </div>
        <div class="booking col-sm-12 col-xl-4 ps-xl-5">
            <form class="booking-card text-center sticky-xl-top py-4 px-3">
                <h3 class="booking-card-title">NT$ <span class="venue-price">@Decimal.Round(@briefs.PricePerHour)</span></h3>
                <p class="border-bottom pb-2">最少起訂時數<span class="min-time fs-5 px-1">@briefs.MinHour</span>小時</p>
                <p class="border-bottom py-3 fs-5"><span class="discount-hour py-1">8</span>小時滿時優惠:<span class="ps-4 discount">@details.Discount</span></p>
                <h4 class="text-start mt-4 mb-3 fs-5 fw-bolder">日期與時間:</h4>
                <input placeholder="開始日期" class="w-100 d-inline-block mb-2 form-control" id="start-date" readonly>
                <input placeholder="結束日期" class="w-100 d-inline-block form-control" id="end-date" readonly>
                <h4 class="text-start mt-4 mb-3 fs-5 fw-bolder">參加人數:</h4>
                <input placeholder="參加人數" class="attendees form-control" aria-label=".form-control attendees" id="attendee-count">
                <div class="calculus">
                    <div class="price-calculus mt-5 border-bottom mb-2">
                        <p class="d-flex mb-2">交易金額:<span class="ms-auto"><span class="venue-price">N$1200</span><span class="mx-1">x</span><span class="total-hour">6小時</span></span></p>
                        <p class="d-flex mb-2">滿時優惠:<span class="ms-auto"><span class="discount">85折</span></span></p>
                    </div>
                    <div class="total fs-5 fw-bolder">
                        <p class="d-flex mb-2">總共:<span class="ms-auto"><span class="total-price">NT$6120</span></span></p>
                    </div>
                </div>
                <button class="btn-submit btn mt-4" type="button">馬上預約</button>
            </form>
        </div>
    </div>
</div>


@section topCSS
{
    <link href="~/Assets/CSS/booking/booking.css" rel="stylesheet" />
}

@section endJS
{
    <script src="~/Assets/JS/booking/booking.js"></script>
}